# Basic Data Types

## Integer

 Integers are whole numbers without any decimal points.

In [28]:
# Defining Integer Variables
num1 = 10
num2 = -5

print(f"num1 is {num1} and num2 is {num2}")

num1 is 10 and num2 is -5

## Float

Floats represent real numbers with decimal points.

In [29]:
# Defining Float Variables
float1 = 10.5
float2 = -3.7567324

print(f"float1 is {float1} and float2 is {float2}")

float1 is 10.5 and float2 is -3.7567324

In [31]:
print(round(float2,4))

-3.7567

## String 

Strings are sequences of characters enclosed in quotes. Python has great support for strings:

In [8]:
hello = 'hello'    # String literals can use single quotes
world = "world"    # or double quotes; it does not matter.
print(hello)       # Prints "hello"
print(len(hello))  # String length; prints "5"

hello
5

In [9]:
hw = hello + ' ' + world  # String concatenation
print(hw)  # prints "hello world"

hello world

In [11]:
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another;
                                # prints "he(ell)(ell)o"

he(ell)(ell)o

In [10]:
s = "hello"
print(s.capitalize())  # Capitalize a string; prints "Hello"
print(s.upper())       # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))      # Right-justify a string, padding with spaces; prints "  hello"
print(s.center(7))     # Center a string, padding with spaces; prints " hello "

Hello
HELLO
  hello
 hello

In [33]:
d = "hi"
print(d.upper())

HI

In [12]:
print('  world '.strip())  # Strip leading and trailing whitespace; prints "world"

world

## Boolean

Boolean data type represents True or False values.

In [13]:
# Defining Boolean Variables
is_true = True
is_false = False

print(is_true)
print(int(is_true))
print(int(is_false))

True
1
0

# Operators

## Arithmetic Operators

Arithmetic operators perform mathematical operations.

In [14]:
# Arithmetic Operations
a = 10
b = 2
result_add = a + b
result_sub = a - b
result_multiply = a*b
print(result_add)
print(result_sub)
print(result_multiply)

12
8
20

In [15]:
b = 3
result_divide = a/b
result_fdivide = a//b
result_modulo = a%b
print(result_divide)
print(result_fdivide)
print(result_modulo)

3.3333333333333335
3
1

## Relational Operators

Relational operators compare values and return True or False.

In [16]:
# Comparison Operations
is_equal = (10 == 5)
is_greater = (10 > 5)

print(is_equal)
print(is_greater)
print(10<5)
print(12<=11)
print(39>=39)
print(12!=13)
print(12==13)

False
True
False
False
True
True
False

## Logical Operators

 Logical operators perform logical AND, OR, and NOT operations.

In [17]:
# Logical Operations
result_and = True and False
result_or = True or False

print(result_and)
print(result_or)
print(not True)

False
True
False

# Conditional Statements

## If Statement

If statement executes code if a condition is True.

In [18]:
# If Statement Example
num = 10
if num > 0:
    print("Positive Number")

Positive Number

In [19]:
# If-Else Statement Example
num = -5
if num >= 0:
    print("Positive or Zero")
else:
    print("Negative Number")

Negative Number

In [20]:
# If-Else If Statement Example
num = 5
if num == 0:
    print("Zero")
elif num < 0:
    print("Negative number")
else:
    print("Positive number")

Positive number

# Loops

## For loop

For loop iterates over a sequence (list, tuple, string, etc.).

In [21]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [22]:
for i in range(0,5): 
    print(i)

0
1
2
3
4

In [23]:
for i in range(0,5,2): 
    print(i)

0
2
4

## While loop

While loop executes as long as a condition is True.

In [24]:
# While Loop Example
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4